<div class="container">
    <h3 style="align-content: center;" class="form-colors">Investor Credentials</h3>
    <form [formGroup]="credentialForm">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field style="width: 100%">
                <mat-label for="username" class="form-colors">Username</mat-label>
                <input matInput type="string" formControlName="username" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.username.hasError('required')">A username is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field style="width: 100%">
                <mat-label for="password" class="form-colors">Password</mat-label>
                <input matInput type="password" formControlName="password" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.password.hasError('required')">A password is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save and Continue</button> 
</div>
