<div class="container">
    <h3 style="align-content: center;" class="form-colors">Investor Information</h3>
    <form [formGroup]="piiForm">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%">
                <mat-label for="fName" class="form-colors">First Name</mat-label>
                <input matInput type="string" formControlName="fName" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.fName.hasError('required')">A first name is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%">
                <mat-label for="lName" class="form-colors">Last Name</mat-label>
                <input matInput type="string" formControlName="lName" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.lName.hasError('required')">A last name is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%;">
                <mat-label for="dob" class="form-colors">Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.dob.hasError('required')">A date of birth is <strong>required</strong></mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker" class="form-colors"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%;">
                <mat-label for="email" class="form-colors">Email</mat-label>
                <input matInput type="email" formControlName="email" style="color: cornsilk;">
                <mat-error *ngIf="isSubmitAttempt && f.email.hasError('required')">An email address is <strong>required</strong> </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%; margin-right: 30px;">
                <mat-label for="phone" class="form-colors">Phone Number</mat-label>
                <input matInput type="string" formControlName="phone" style="color: cornsilk;">
            </mat-form-field>
        </div>
    </div>
    </form>
    <mat-error *ngIf="isAgeLimit">You must be 18 years old to register with Smart Stock!</mat-error>
    <button mat-raised-button color="primary" (click)="onSubmit()">Continue</button><br> 
</div>
