<p>dashboard works!</p>
<p>
   This page should contain a broad view of the user's total investing experience.

   - Lots of graphical representations but simple previews. Leave the intense data representations for the Analytics page.
   - Users total value overtime.
   - Total value.
   - Percentage total gain/loss.
   - Total value gain/loss.
   - Some recent trades?
   - Diversity Pie?</p>

   <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
