<div class="container">
   <h3 class="form-colors center">Trade Account Strategy</h3>
   <form [formGroup]="strategyForm">
      <mat-list>
         <mat-list-item>
            <mat-checkbox class="form-colors" formControlName="blue chip">Blue Chip Trading</mat-checkbox>
            <mat-icon #tooltip="matTooltip" 
               matTooltip="Based on low risk and slow, steady returns, blue chip trading is best for beginner investors who want to take an incremental, hands-off approach to trading. This strategy focuses on well known fortune 500 tickers, and stability above all else."
               matTooltipPosition="right">
               help_ouline
            </mat-icon>            
         </mat-list-item>
         <mat-divider></mat-divider>
         <mat-list-item>
            <mat-checkbox class="form-colors" formControlName="long term">Long Term Trading</mat-checkbox>
            <mat-icon #tooltip="matTooltip" 
               matTooltip="Similar to blue chip trading, but places a more intense focus on long term viability and growth potential."
               matTooltipPosition="right">
               help_ouline
            </mat-icon>      
         </mat-list-item>
         <mat-divider></mat-divider>
         <mat-list-item>
            <mat-checkbox class="form-colors" formControlName="swing">Swing Trading</mat-checkbox>
            <mat-icon #tooltip="matTooltip" 
               matTooltip="Higher risk trading strategy with higher potential returns. Focuses on more volatile tickers, and will execute several buy/sell cycles over the course of a week. Focuses on volume and momentum over stability and long term returns."
               matTooltipPosition="right">
               help_ouline
            </mat-icon>           
         </mat-list-item>
         <mat-divider></mat-divider>
         <mat-list-item>
            <mat-checkbox class="form-colors" formControlName="scalp">Scalp Trading</mat-checkbox>
            <mat-icon #tooltip="matTooltip" 
               matTooltip="Similar to swing trading in the respect that this strategy focuses on momentum and volume, but takes more advantage of intra-day trading. As a result, this strategy is a mix between day trading and long trading, but tends to favor day trading. Make sure you have the funds for this!"
               matTooltipPosition="right">
               help_ouline
            </mat-icon>          
         </mat-list-item>
         <br><mat-divider></mat-divider>
         <mat-list-item>
            <mat-checkbox class="form-colors" formControlName="day">Day Trading</mat-checkbox>
            <mat-icon #tooltip="matTooltip" 
               matTooltip="Highest risk with highest potential returns. This strategy focuses exlcusively on intra-day trading, and will never hold over night. This selection will make more then three, but rather several (30++) buy/sell cycles throughout a single day, and as a result, your account net worth must exceed $25,000 before selecting this strategy."
               matTooltipPosition="right">
               help_ouline
            </mat-icon>          
         </mat-list-item>
         <br><mat-divider></mat-divider>
         <mat-error *ngIf="!isSubmissionAttemptValid && isNextAttempt">You must choose at least <strong>one</strong> strategy</mat-error>
      </mat-list>
   </form>
   <button mat-raised-button color="primary" (click)="onSubmit()">
      Next
      <mat-icon>arrow_forward</mat-icon>
   </button>
</div>
