<div class="container">
   <h3 style="align-content: center;" class="form-colors">Trade Account Risk Tolerance</h3>
   <mat-radio-group [formControl]="riskControl">
      <mat-radio-button class="form-colors" *ngFor="let risk of this.riskLevels" [value]="risk">{{risk.risk}}</mat-radio-button>
   </mat-radio-group>
   <br>
   <mat-error *ngIf="isNextAttempt">You must choose a risk tolerance option.</mat-error>

   <mat-slider class="form-colors" style="width: 500px;" [(ngModel)]="capital" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="100" ></mat-slider>
   <div class="row">
      <div class="col-md-12">
         <mat-label class="descriptions" style="padding-left: 100px; padding-bottom: 0px; color: cornsilk;">Percent of capital to risk per trade</mat-label>
      </div>
   </div> 
   <button mat-raised-button color="primary" (click)="onSubmit()">
      Next
      <mat-icon>arrow_forward</mat-icon>
   </button>
</div>