<body>
  <div class="master-container">
    <div class="main-wrapper">
      <mat-card style="background-color: #121212;" >
        <mat-card-header class="header-format">
          <mat-card-title>Smart Stock Login</mat-card-title>
        </mat-card-header>
    
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-error *ngIf="isLoginInvalid">
              Sorry, that username or password was not recognized. Please try again.
          </mat-error>
            <mat-form-field class="full-width-form">
              <mat-label for="username" style="color: cornsilk;">Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
    
            <mat-form-field class="full-width-form">
              <mat-label for="password" style="color: cornsilk;">Password</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>
          </mat-card-content>
          <div class="row">
            <div class="col-5">
              <button mat-raised-button color="primary" style="margin-left: 80%;">Log in</button>
            </div>
            <div class="col-5">
              <button mat-raised-button color="primary" (click)="toRegisterView()" style="margin-left: 19%;">Register</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</body>