<div class="container">
   <h3 class="form-colors center">Funding</h3>
   <div class="row">
      <div class="col-lg">
         <mat-form-field appearance="fill">
            <mat-label class="form-colors">Account</mat-label>
            <mat-select [formControl]="accountControl" required>
               <mat-option class="form-colors" *ngFor="let p of accounts" [value]="p">Portfolio - ${{p.cash}}</mat-option>
            </mat-select>
            <mat-error *ngIf="accountControl.hasError('required')">A funcding account is <strong>required</strong></mat-error>
         </mat-form-field>
      </div>
      <div class="col-lg">
         <span style="color: cornsilk;">
            <mat-icon style="color:gold;">warning</mat-icon>
            Smart Stock Beta will consist of strickly paper trades.
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <mat-form-field>
            <mat-label for="amount" class="form-colors">Amount To Deposit</mat-label>
            <input matInput type="number" [(ngModel)]="depositAmount" style="color: cornsilk;" required>
            <mat-error *ngIf="submitAttempt">A depost amount is <strong>required</strong></mat-error>
         </mat-form-field>
      </div>
   </div>
   <button mat-raised-button color="primary" (click)="onSubmit()">
      Next
      <mat-icon>arrow_forward</mat-icon>
   </button>
</div>
