<body>
   <div class="container">
      <mat-tab-group animationDuration="1000ms" [(selectedIndex)]="tabIndex">
         <mat-tab>
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">mode_edit</mat-icon>
               <span class="form-colors">Cosmetics</span>
            </ng-template>
            <app-cosmetics-tab (onSaveEvent)="updateTradeAccount($event)" (onNextTabChange)="unlockStrategyView($event)"></app-cosmetics-tab>
         </mat-tab>
         <mat-tab disabled *ngIf="!canViewStrategy">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">psychology</mat-icon>
               Strategy
            </ng-template>
         </mat-tab>
         <mat-tab *ngIf="canViewStrategy">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">psychology</mat-icon>
               <span class="form-colors">Strategy</span>
            </ng-template>
            <app-strategy-tab (onSaveEvent)="updateStrategy($event)" (onNextTabChange)="unlockSectorsView($event)"></app-strategy-tab>
         </mat-tab>
         <mat-tab disabled *ngIf="!canViewSectors">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;">category</mat-icon>
               Sectors
            </ng-template>
         </mat-tab>
         <mat-tab *ngIf="canViewSectors">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">category</mat-icon>
               <span class="form-colors">Sectors</span>
            </ng-template>
            <app-sectors-tab (onSaveEvent)="updateSectors($event)" (onNextTabChange)="unlockRiskView($event)"></app-sectors-tab>
         </mat-tab>
         <mat-tab disabled *ngIf="!canViewRisk">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;">timeline</mat-icon>
               Risk
            </ng-template>
         </mat-tab>
         <mat-tab *ngIf="canViewRisk">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">timeline</mat-icon>
               <span class="form-colors">Risk</span>
            </ng-template>
            <app-risk-tab (onSaveEvent)="updatePreference($event)" (onNextTabChange)="unlockFundingView($event)"></app-risk-tab>
         </mat-tab>
         <mat-tab disabled *ngIf="!canViewFunding">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;">attach_money</mat-icon>
               Funding
            </ng-template>
         </mat-tab>
         <mat-tab *ngIf="canViewFunding">
            <ng-template mat-tab-label>
               <mat-icon style="margin-right: 10px;" class="form-colors">attach_money</mat-icon>
               <span class="form-colors">Funding</span>
            </ng-template>
            <app-funding-tab (onSaveEvent)="submitTradeAccount($event)"></app-funding-tab>
         </mat-tab>
      </mat-tab-group>
   </div>
</body>